<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>TripLeap</title>
    </head>

    <body>

        <header>
        </header>

        <main>
            <section>
                <h2>Your next trip</h2>
                <form class="inputForm">
                    <p>Enter the location you are traveling to and the date you are leaving</p>
                    <input id="location" type="text" name="input" value="" placeholder="Put your destination Here">
                    <input id="leavingDate" type="date" name="input" value="">
                    <input class="button" type="submit" name="" value="Save" onclick="return Client.handleSaveTrip(event)">
                </form>
            </section>

            <section class="outputForm">
                <strong>The weather and the picture:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>My other projects can be found</p>
            <a href="https://github.com/nmarkevich">Here</a>
        </footer>

        <script>

        </script>
    </body>
</html>
