body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Oxygen', Sans-Serif;
}

.initialView {
  display: flex;
  justify-content: center;
}

/*.Main #inputForm {
  display: flex;
  align-items: center;
}*/

input {
  font-size: 18px;
}

.button {
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  padding-left: 5px;
  background-color: #a7fcca;
  border: 1px solid #545454;
  margin: 10px;
}

#inputForm {
  display: flex;
  flex-direction: column;
  background-color: #ebf4fa;
  border: 1px solid #545454;
  width: 75%;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
  visibility: hidden;
}

.form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 5px;
}

#outputForm {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ebf4fa;
  border: 1px solid #545454;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
}

#result {
  display: flex;
  padding: 20px;
}

#info {
  display: flex;
  padding: 20px;
  flex-direction: column;
}