.container {
  display: inline-block;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.initialView {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

#inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  background-color: #ebf4fa;
  border: 1px solid #545454;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  visibility: hidden;
}

.form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.button {
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  padding-left: 5px;
  background-color: #a7fcca;
  border: 1px solid #545454;
  margin: 10px;
}

input {
  font-size: 20px;
}

img {
  max-width: 100%;
}

h4 {
  margin: 10px;
}

#outputForm {
  display: none;
  flex-direction: column;
  background-color: #ebf4fa;
  border: 1px solid #545454;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
}

#result {
  padding: 20px;
}

#info {
  padding: 20px;
  font-size: 20px;
  }