footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  // background-color: #b0ddd8;
  background-color: #a7fcca;
  border: 1px solid #545454;
  border-radius: 3px;
}